<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

 <p>
    Splurty was built by <a target="_blank" href="http://candicenoel.netlify.com">Candice Noel</a>. A paramedic for the past ten years who is now, thanks to University of Denver Coding Bootcamp, learning how to code. 
  </p>
  <p>
    Her abilities are a constant work in progress. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>


<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'candice.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Candice Noel</h2>
      <br />
      <p>
        Meet Candice. And please enjoy and add to this quote splurting app; the very first app she has ever built. 
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />

