<div class="col-10 offset-1">
  <h1>About Splurty</h1>

 <p>
    Splurty was built by <a target="_blank" href="http://candicenoel.netlify.com">Candice Noel</a>. A paramedic turned coder, who built this page as part of her web develpment journey.
  </p>
  <br />
  <p>
    Her abilities are a constant work in progress. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

</div>

